@import "../../style/colorsModules.scss";

.propostasPage {
    display: flex;
    justify-content: center;
    .propostasInterface {
        width: 50rem;
        border: solid 1px $marker-color;
        border-radius: 0.75rem;
        padding: 1rem;
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            .userName {
                padding: 0 1rem;
            }
            a {
                border-radius: 0 0.75rem 0 0;
                padding: 1rem;
                background-color: $marker-color;
                color: $background-color;
                cursor: pointer;
            }
        }
        .minhasPropostas {
            border-top: solid 1px $marker-color;
            .proposta {
                margin: 4rem 0;
                padding: 1rem;
                cursor: pointer;
                &:hover > .titulo::before {
                    width: 3rem;
                    transition-duration: 0.5s;
                }
                .titulo {
                    padding-bottom: 0.25rem;
                    margin-bottom: 0.5rem;
                    font-size: 1.5rem;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 2px;
                        width: 0rem;
                        background-color: $marker-color;
                    }
                }
                .votos {
                    display: flex;
                    width: 25rem;
                    justify-content: space-between;
                    margin: 1rem 0;
                    font-size: 1.2rem;
                    .positivo {
                        color: $positive-color;
                    }
                    .negativo {
                        color: $negative-color;
                    }
                }
            }
        }
    }
}
